//COLORS
$light_blue: #0a939a;
$blue: #1f73d0;
$dark_blue: #093970;
$silver: #b4b4b4;
$red: #ff0000;
$white: #fff;

//FONTS
@font-face {
    font-family: 'CinzelDecorative';
    src: url('../fonts/CinzelDecorative-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

//ANIMATIONS
@keyframes changeSize {
    0% { transform: scale(1); }
    5% { transform: scale(1.5); }
    10% { transform: scale(1); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(180deg); }
    100% { transform: rotate(360deg); }
}

html, body
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, $light_blue 0%, $blue 50%, $light_blue 100%);
}

.game_window
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.game_window a
{
    text-decoration: none;
}

.main_title
{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 20%;
    position: relative;
    top: 20%;
    font-family: 'CinzelDecorative', serif;
    color: $white;
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
}

.main_button
{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 100px;
    background-color: $white;
    border-radius: 5px;
    position: relative;
    top: 30%;
    cursor: pointer;
    transition: all 0.3s ease;
}

.main_button:hover
{
    box-shadow: 0 20px 20px $dark_blue;
    transform: translateY(-4px);
}

.main_button__text
{
    text-align: center;
    font-family: 'CinzelDecorative', serif;
    font-size: 40px;
    text-transform: uppercase;
    padding-top: 25px;
    background: -webkit-linear-gradient(90deg, $blue 0%, $light_blue 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main_window
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.main_window-top_bar
{
    width: 100%;
    height: 50px;
    background-color: $white;
    border-bottom: 1px solid $silver;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 20px 0px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 20px 0px rgba(66, 68, 90, 1);
    position: relative;
    z-index: 2;
}

.top_bar-logo
{
    float: left;
    width: 10%;
    text-align: right;
}

.top_bar-logo img
{
    width: 40px;
    position: relative;
    top: 5px;
}

.top_bar-title
{
    width: 20%;
    height: 50px;
    float: left;
    text-align: left;
}

.top_bar-title h1
{
    font-family: 'CinzelDecorative', serif;
    font-size: 30px;
    background: -webkit-linear-gradient($blue, $light_blue);
    background-clip: text;
    padding: 0;
    margin: 0;
    margin-left: 10px;
    padding-top: 5px;
    color: $light_blue;
    text-shadow: 0 0 5px $light_blue;
}

.top_bar-title span
{
    display: inline-block;
    animation: changeSize 5s infinite;
}

.top_bar-title span:nth-child(1)
{
    animation-delay: 0s;
}

.top_bar-title span:nth-child(2)
{
    animation-delay: 0.2s;
}

.top_bar-title span:nth-child(3)
{
    animation-delay: 0.4s;
}

.top_bar-title span:nth-child(4)
{
    animation-delay: 0.6s;
}

.top_bar-title span:nth-child(5)
{
    animation-delay: 0.8s;
}

.top_bar-title span:nth-child(6)
{
    animation-delay: 1s;
}

.top_bar-resources
{
    width: 30%;
    height: 50px;
    float: left;
}

.top_bar-resources ul
{
    padding: 0;
    margin-top: 0px;
}

.top_bar-resources li
{
    width: 120px;
    height: 35px;
    float: left;
    display: block;
    font-family: 'CinzelDecorative', serif;
    font-size: 14px;
    padding-right: 10px;
}

.top_bar-resources li img
{
    width: 30px;
    margin-right: 5px;
    position: relative;
    top: 10px;
}

#error
{
    color: $red;
    text-shadow: 0 0 8px $red;
    transition: color 0.2s ease;
}

.error
{
    color: $red;
    text-shadow: 0 0 8px $red;
}

.top_bar-turn_info
{
    width: 200px;
    height: 30px;
    float: left;
    font-family: 'CinzelDecorative', serif;
    font-size: 14px;
    text-align: center;
    padding-top: 18px;
}

.top_bar-next_turn
{
    width: 50px;
    height: 50px;
    float: left;
    text-align: center;
}

.next_turn-button
{
    width: 20px;
    position: relative;
    top: 7px;
    cursor: pointer;
}

.rotate
{
    animation: spin 1s ease-in-out;
    pointer-events: none;
    opacity: 0.6;
}

.main_window-right_column
{
    width: 20%;
    height: calc(100% - 51px);
    background-color: $white;
    float: right;
    -webkit-box-shadow: -12px -12px 33px -12px rgba(66, 68, 90, 1);
    -moz-box-shadow: -12px -12px 33px -12px rgba(66, 68, 90, 1);
    box-shadow: -12px -12px 33px -12px rgba(66, 68, 90, 1);
}

.right_column-box
{
    margin-left: auto;
    margin-right: auto;
    width: 95%; 
    min-height: 100px;
}

.town_box
{
    width: 100%;
    height: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.town_box-image
{
    width: 20%;
    min-height: 70px;
    border: 5px solid transparent;
    float: left;
}

.town_box-image img
{
    width: 100%;
}

.town_box-name
{
    width: 70%;
    height: 90px;
    float: left;
    padding: 5px;
}

.town_name
{
    font-family: 'CinzelDecorative', serif;
    color: $blue;
    font-size: 20px;
    margin: 0;
    padding: 0;
    position: relative;
    top: 30px;
}

.hero_box
{
    width: 100%;
    height: 200px;
    padding-bottom: 10px;
    font-family: 'CinzelDecorative', serif;
}

.hero_box-image
{
    width: 20%;
    float: left;
}

.hero_box-image img
{
    width: 100px;
}

.hero_box-exp
{
    width: 100%;
    height: 12px;
    background-color: $blue;
    position: relative;
    top: -6px;
    font-family: 'CinzelDecorative', serif;
    font-size: 12px;
    text-align: center;
    color: $white;
    padding-bottom: 5px;
    transition: 1s;
}

.hero_box-name
{
    width: 70%;
    height: 90px;
    float: left;
}

.hero_name
{
    width: 100px;
    color: $blue;
    font-size: 20px;
    margin: 0;
    padding: 0;
    position: relative;
    top: 30px;
    left: 10px;
}

.hero_box-stats
{
    width: 100%;
    height: 100px;
    float: left;
    font-size: 12px;
}

.hero_box-stats ul
{
    list-style-type: none;
    width: 100%;
    height: 20px;
    margin: 0;
    padding: 0;
}

.hero_box-stats li
{
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 24%;
}

.stats_name h4
{
    color: $blue;
    margin: 0;
}

.stats_name-icon
{
    width: 20px
}

.stats_val
{
    height: 20px;
    margin: 0;
    padding: 0;
}

.stats_val li
{
    height: 20px;
    position: relative;
}

.stats_val h4
{
    margin: 0;
    padding: 0;
}